<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="yandex.direct" type="Yandex.Direct.Configuration.YandexDirectSection, Yandex.Direct"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <!--sandbox-->

  <yandex.direct serviceUrl="https://api-sandbox.direct.yandex.ru/json-api/v4/" language="Russian">
    <authProvider type="Yandex.Direct.Authentication.TokenAuthProvider, Yandex.Direct">
      <add key="login" value="myredsocks" />
      <add key="applicationId" value="73d21a1c092148c7b8f1760e13276a41" />
      <add key="token" value="d776b47424904e8c8cd19d56ae92c7a7" />
    </authProvider>
  </yandex.direct>

  <!--sandbox-->
  <!--<yandex.direct serviceUrl="https://soap.direct.yandex.ru/json-api/v4/" language="Russian">
    <authProvider type="Yandex.Direct.Authentication.FileCertificateAuthProvider, Yandex.Direct">
      <add key="login" value="pdk-west" />
      <add key="certificatePath" value="C:\cert\account.pfx" />
      <add key="certificatePassword" value="12345" />
    </authProvider>
  </yandex.direct>-->
</configuration>